.App {
	min-height: 500px;
	background: #ff9999;
}
.card {
	margin-top: 125px;
}
img {
	margin-top: -80px;
}
.footer {
	background: white;
	color: #777;
	padding: 40px;
	text-align: center;
}
footer img {
	display: block;
	border-radius: 5px;
	width: 80px;
	margin: 0 auto 10px;
}
